{% extends 'index.html' %}

{% block title %}About - Band Website{% endblock %}

{% block content %}
<style>
  /* Set the text color */
  h2 a {
      color: rgb(194, 194, 194);
  }
  
  /* Set the background color */
  body {
      background-color: rgb(122, 122, 122);
  }
</style>
  <div class="container py-5">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h1 class="text-center mb-4">Where we'll be</h1>
        <ul class="text-center mb-4">
          <li>March 12, 2023: The Roxy Theatre, Los Angeles, CA</li>
          <li>March 16, 2023: The Bowery Ballroom, New York, NY</li>
          <li>March 20, 2023: The Vic Theatre, Chicago, IL</li>
          <li>March 24, 2023: The Commodore Ballroom, Vancouver, BC</li>
          <li>March 28, 2023: The Fillmore, San Francisco, CA</li>
        </ul>
      </div>
    </body>
  </div>
</div>
{% endblock %}
